<div id="<%= dom_id person %>" class="my-3">
  <p>
    <strong>Nome:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= person.phone_number %>
  </p>

  <p>
    <strong>CPF / CNPJ:</strong>
    <%= person.national_id %>
  </p>

  <p>
    <strong>Ativo:</strong>
    <%# TODO: refactor: use a helper method %>
    <% if @person.active %>
      <span class="text-success">
        <i class="bi bi-check-circle"></i>
      </span>
    <% else %>
      <span class="text-danger">
        <i class="bi bi-x-circle"></i>
      </span>
    <% end %>
  </p>

  <p>
    <strong>Total de Débitos</strong>
    <%= person.balance %>
  </p>

</div>
