<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= person.phone_number %>
  </p>

  <p>
    <strong>National:</strong>
    <%= person.national_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= person.active %>
  </p>

</div>
