<%# TODO: refactor DRY %>
<% if notice.present? %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>

<h1>Associados</h1>

<%= link_to new_person_path, class: 'btn btn-light btn-sm' do %>
  <i class="bi bi-plus"></i>
  Novo associado
<% end %>

<ul class="nav nav-tabs my-4">
  <li class="nav-item">
    <%= link_to 'Ativo', people_path(active: true), class: "nav-link #{'active' if @active}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Inativo', people_path(active: false), class: "nav-link #{'active' unless @active}" %>
  </li>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF/CNPJ</th>
      <th>Telefone</th>
      <th>Cadastrado em</th>
      <th>Cadastrado por</th>
      <th>Ativo</th>
      <th>Débitos</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.national_id %></td>
        <td><%= person.phone_number %></td>
        <td><%=l person.created_at, format: :short %></td>
        <td><%= person.user.email %></td>
        <td class="text-center align-middle">
          <%# TODO: refactor: use a helper method %>
          <% if person.active %>
            <span class="text-success">
              <i class="bi bi-check-circle"></i>
            </span>
          <% else %>
            <span class="text-danger">
              <i class="bi bi-x-circle"></i>
            </span>
          <% end %>
        </td>
        <td class="text-end align-middle">
          <%= person.balance %>
        </td>
        <td class="text-center align-middle">
          <div class="btn-group" role="group" aria-label="Actions">
            <%= link_to person, class: "btn btn-sm btn-primary" do %>
              <i class="bi bi-folder2-open"></i>
            <% end %>
            <%= link_to edit_person_path(person), class: "btn btn-sm btn-secondary" do %>
              <i class="bi bi-pencil"></i>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
