<%# TODO: refactor DRY %>
<% if notice.present? %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>

<%= link_to "< Voltar", people_path, class: 'btn btn-secondary btn-sm' %>

<%= render @person %>

<%= link_to 'Editar', edit_person_path(@person), class: "btn btn-primary mb-2" %>

<%= button_to "Remover", @person, method: :delete, class: 'btn btn-danger' %>
