<%# TODO: refactor DRY %>
<% if notice.present? %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>

<h1>Débitos</h1>

<%= link_to new_debt_path, class: 'btn btn-light btn-sm' do %>
  <i class="bi bi-plus"></i>
  Novo débito
<% end %>

<div id="debts">
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Associado</th>
        <th>Observação</th>
        <th class="text-end">Valor</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @debts.each do |debt| %>
        <tr>
          <td><%= debt.id %></td>
          <td><%= debt.person.name %></td>
          <td><%= debt.observation %></td>
          <td class="text-end"><%= debt.amount %></td>
          <td class="text-end">
            <%= button_to debt, method: :delete, class: "btn btn-danger btn-sm" do %>
              <i class="bi bi-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
